
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";



@theme {
  --font-roboto:'Roboto', 'sans-serif'


    --breakpoint-3xl: 120rem;

    --color-primary: #01589A;
    --color-second: #E6EFF5;
    --color-tert:#2E2C48;


}

