
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";



@theme {
  --font-figtree:'Figtree', 'sans-serif'


    --breakpoint-3xl: 120rem;

    --color-primary: #01589A;
    --color-second: #E6EFF5;
    --color-tert:#2E2C48;
    --color-light-green:
    



}

